<html>
    <head>
        <title>Snoop OpenVPN Controller for Raspberry Pi</title>
    </head>
    <body>
        <h1>Snoop Central</h1>
        <h2>Selected VPN: {{current_vpn}}<br />
        <h2>VPN Status: {{vpn_status}}</h2><br /><br />
        <h2>Options</h2>
        <b>Select New VPN Server</b>
        <form>
        Select VPN Server:
            <select name="user_select_vpn">
            {% for vpn in available_vpn %}
                <option value="{{vpn}}" {{'selected="selected"' if vpn==current_vpn}}>{{vpn}}</option>
            {% endfor %}<br />
            </select>
            <input type="submit" value="Connect!">
        </form>
        do something else<br />
        select city<br />
        <i>{{datetime}}</i><br />
    </body>
</html>